In [1]:
import pandas as pd 
import numpy as np
import ast

In [2]:
movies = pd.read_csv('movies_10k.csv',index_col=0)

In [3]:
movies.head()

,id,title,overview,genre_ids,cast,crew,keywords,genre_name
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[28, 14, 878]","[{'name': 'Dwayne Johnson'}, {'name': 'Aldis H...",[{'name': 'Jaume Collet-Serra'}],"[{'id': 952, 'name': 'lightning'}, {'id': 2095...","[Action, Fantasy, Science Fiction]"
1,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[878, 28, 12, 18]","[{'name': 'Sam Worthington'}, {'name': 'Zoe Sa...",[{'name': 'James Cameron'}],"[{'id': 9663, 'name': 'sequel'}, {'id': 10158,...","[Science Fiction, Action, Adventure, Drama]"
2,724495,The Woman King,"The story of the Agojie, the all-female unit o...","[28, 18, 36]","[{'name': 'Thuso Mbedu'}, {'name': 'Viola Davi...",[{'name': 'Gina Prince-Bythewood'}],"[{'id': 409, 'name': 'africa'}, {'id': 2692, '...","[Action, Drama, History]"
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[28, 12, 14, 878]","[{'name': 'Sam Worthington'}, {'name': 'Zoe Sa...",[{'name': 'James Cameron'}],"[{'id': 1463, 'name': 'culture clash'}, {'id':...","[Action, Adventure, Fantasy, Science Fiction]"
4,1013860,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,"[14, 28, 35, 80]","[{'name': 'Jeffrey Donovan'}, {'name': 'Penelo...",[{'name': 'Paul Leyden'}],"[{'id': 798, 'name': 'sheriff'}, {'id': 9675, ...","[Fantasy, Action, Comedy, Crime]"

In [4]:
movies.dropna(inplace=True)

In [5]:
def convert(object):
    list=[]
    for i in ast.literal_eval(object):
        list.append(i['name'])
    return list

In [6]:
def convert3(obj):
    L = []
    c=0
    for i in ast.literal_eval(obj):
        if(c!=3):
            L.append(i['name'])
            c+=1
        else:
            break
    return L
movies['cast'] = movies['cast'].apply(convert3)

In [7]:
movies['keywords']=movies['keywords'].apply(convert)
movies['crew'] = movies['crew'].apply(convert)

In [8]:
movies.head()

,id,title,overview,genre_ids,cast,crew,keywords,genre_name
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[28, 14, 878]","[Dwayne Johnson, Aldis Hodge, Noah Centineo]",[Jaume Collet-Serra],"[lightning, anti hero, superhero, based on com...","[Action, Fantasy, Science Fiction]"
1,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[878, 28, 12, 18]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[sequel, alien planet, avatar, family dynamics]","[Science Fiction, Action, Adventure, Drama]"
2,724495,The Woman King,"The story of the Agojie, the all-female unit o...","[28, 18, 36]","[Thuso Mbedu, Viola Davis, Lashana Lynch]",[Gina Prince-Bythewood],"[africa, arranged marriage, warrior woman, bas...","[Action, Drama, History]"
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[28, 12, 14, 878]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]"
4,1013860,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,"[14, 28, 35, 80]","[Jeffrey Donovan, Penelope Mitchell, Richard B...",[Paul Leyden],"[sheriff, prequel, based on comic, american we...","[Fantasy, Action, Comedy, Crime]"

In [9]:
movies = movies[movies['genre_name'] != '[]']

In [10]:
movies.shape

(9962, 8)

In [11]:
movies['genre_name'] = movies['genre_name'].apply(lambda x: x.strip("[]"))

In [12]:
movies.head()

,id,title,overview,genre_ids,cast,crew,keywords,genre_name
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[28, 14, 878]","[Dwayne Johnson, Aldis Hodge, Noah Centineo]",[Jaume Collet-Serra],"[lightning, anti hero, superhero, based on com...","Action, Fantasy, Science Fiction"
1,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[878, 28, 12, 18]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[sequel, alien planet, avatar, family dynamics]","Science Fiction, Action, Adventure, Drama"
2,724495,The Woman King,"The story of the Agojie, the all-female unit o...","[28, 18, 36]","[Thuso Mbedu, Viola Davis, Lashana Lynch]",[Gina Prince-Bythewood],"[africa, arranged marriage, warrior woman, bas...","Action, Drama, History"
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[28, 12, 14, 878]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon...","Action, Adventure, Fantasy, Science Fiction"
4,1013860,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,"[14, 28, 35, 80]","[Jeffrey Donovan, Penelope Mitchell, Richard B...",[Paul Leyden],"[sheriff, prequel, based on comic, american we...","Fantasy, Action, Comedy, Crime"

In [13]:
movies['genre_name'] = movies['genre_name'].apply(lambda x: x.replace(",", ''))

In [14]:
movies.head()

,id,title,overview,genre_ids,cast,crew,keywords,genre_name
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[28, 14, 878]","[Dwayne Johnson, Aldis Hodge, Noah Centineo]",[Jaume Collet-Serra],"[lightning, anti hero, superhero, based on com...",Action Fantasy Science Fiction
1,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[878, 28, 12, 18]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[sequel, alien planet, avatar, family dynamics]",Science Fiction Action Adventure Drama
2,724495,The Woman King,"The story of the Agojie, the all-female unit o...","[28, 18, 36]","[Thuso Mbedu, Viola Davis, Lashana Lynch]",[Gina Prince-Bythewood],"[africa, arranged marriage, warrior woman, bas...",Action Drama History
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[28, 12, 14, 878]","[Sam Worthington, Zoe Saldaña, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon...",Action Adventure Fantasy Science Fiction
4,1013860,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,"[14, 28, 35, 80]","[Jeffrey Donovan, Penelope Mitchell, Richard B...",[Paul Leyden],"[sheriff, prequel, based on comic, american we...",Fantasy Action Comedy Crime

In [15]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [16]:
movies['genre_name'] = movies['genre_name'].apply(lambda x: x.split())

In [17]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['genre_name']=movies['genre_name'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [18]:
movies['tags'] = movies['overview']+ movies['genre_name'] + movies['keywords'] + movies['cast'] + movies['crew']

In [19]:
new_df = movies[['id','title','tags']]
new_df.shape

(9962, 3)

In [20]:
poster_df = pd.read_csv('poster.csv',index_col=0)
poster_df

           id                       poster_path
0      436270  /pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg
1       76600  /94xxm5701CzOdJdUEdIuwqZaowx.jpg
2      724495  /lQMJHnHxUyj8kJlC2YOKNuzuwMP.jpg
3       19995  /jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg
4     1013860  /g4yJTzMtOBUTAR2Qnmj8TYIcFVq.jpg
...       ...                               ...
9995   140174  /aGyeGL033oG4eVaf0CiXNqdUTbH.jpg
9996   718235  /5hFGJXEWS13TCJIUofpK46Eg3JT.jpg
9997   325813  /Ak40eOsh7MK466eJmoIUMwNEWON.jpg
9998    22596  /fycYVsLKJLiZ324236pvBQMeW7A.jpg
9999    14002  /ldEuJQ4z7zEvL7iXraESWBUfQcz.jpg

[10000 rows x 2 columns]

In [21]:
new_df = new_df.merge(poster_df,on='id')

In [22]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [23]:
new_df

,id,title,tags,poster_path
0,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...",/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg
1,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,/94xxm5701CzOdJdUEdIuwqZaowx.jpg
2,724495,The Woman King,"The story of the Agojie, the all-female unit o...",/lQMJHnHxUyj8kJlC2YOKNuzuwMP.jpg
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg
4,1013860,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,/g4yJTzMtOBUTAR2Qnmj8TYIcFVq.jpg
...,...,...,...,...
9955,26355,For Keeps,Young high school couple Darcy Elliot and Stan...,/q1o2jt1UXNuZmRN1Y2vg1y2T8qE.jpg
9956,259074,Joy Ride 3,Rusty Nail is back on the road again looking t...,/lQjcZ9yWermv00OICsnAEsJUvjC.jpg
9957,140174,Rise of the Zombies,"When zombies overrun San Francisco, a desperat...",/aGyeGL033oG4eVaf0CiXNqdUTbH.jpg
9958,718235,Shepherd: The Hero Dog,Follow the perilous journey to freedom when a ...,/5hFGJXEWS13TCJIUofpK46Eg3JT.jpg
9959,325813,Splitting Adam,After accidentally stumbling into his uncle's ...,/Ak40eOsh7MK466eJmoIUMwNEWON.jpg

In [37]:
new_df.to_csv('final_df.csv')

In [38]:
new_df.shape

(9960, 4)

In [24]:
new_df['tags'] =  new_df['tags'].apply(lambda x:x.lower())

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [26]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [27]:
new_df['tags'] = new_df['tags'].apply(stem)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
v = CountVectorizer(max_features =5000, stop_words='english')

In [30]:
vectors=v.fit_transform(new_df['tags']).toarray()

In [42]:
vectors, vectors.shape

(array([[1, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64),
 (9960, 5000))

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

array([[1.        , 0.09553946, 0.08823529, ..., 0.03131121, 0.10502101,
        0.28583098],
       [0.09553946, 1.        , 0.12738595, ..., 0.03390318, 0.11371471,
        0.12379689],
       [0.08823529, 0.12738595, 1.        , ..., 0.03131121, 0.070014  ,
        0.        ],
       ...,
       [0.03131121, 0.03390318, 0.03131121, ..., 1.        , 0.        ,
        0.        ],
       [0.10502101, 0.11371471, 0.070014  , ..., 0.        , 1.        ,
        0.13608276],
       [0.28583098, 0.12379689, 0.        , ..., 0.        , 0.13608276,
        1.        ]])

In [32]:
similarity = cosine_similarity(vectors)

In [33]:
def recommend(movie):
    #find the index of the movies
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    #to fetch movies from indeces
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [34]:
new_df

,id,title,tags,poster_path
0,436270,Black Adam,"nearli 5,000 year after he wa bestow with the ...",/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg
1,76600,Avatar: The Way of Water,set more than a decad after the event of the f...,/94xxm5701CzOdJdUEdIuwqZaowx.jpg
2,724495,The Woman King,"the stori of the agojie, the all-femal unit of...",/lQMJHnHxUyj8kJlC2YOKNuzuwMP.jpg
3,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg
4,1013860,R.I.P.D. 2: Rise of the Damned,when sheriff roy pulsiph find himself in the a...,/g4yJTzMtOBUTAR2Qnmj8TYIcFVq.jpg
...,...,...,...,...
9955,26355,For Keeps,young high school coupl darci elliot and stan ...,/q1o2jt1UXNuZmRN1Y2vg1y2T8qE.jpg
9956,259074,Joy Ride 3,rusti nail is back on the road again look to p...,/lQjcZ9yWermv00OICsnAEsJUvjC.jpg
9957,140174,Rise of the Zombies,"when zombi overrun san francisco, a desper gro...",/aGyeGL033oG4eVaf0CiXNqdUTbH.jpg
9958,718235,Shepherd: The Hero Dog,follow the peril journey to freedom when a you...,/5hFGJXEWS13TCJIUofpK46Eg3JT.jpg
9959,325813,Splitting Adam,"after accident stumbl into hi uncle' mysteri ""...",/Ak40eOsh7MK466eJmoIUMwNEWON.jpg

In [35]:
import pickle
pickle.dump(new_df.to_dict(),open('movies_1.pkl','wb'))

In [36]:
pickle.dump(similarity,open('similarity_1.pkl','wb'))